<!-- layouts/partials/recent-posts.html -->
<section class="recent-posts" style="padding-left:0 ">
    <h2>Recent Posts</h2>
    <ul style="list-style: none; padding-left: 0; margin: 0;">
      {{ range first 5 (sort .Site.RegularPages "Date" "desc") }}
        <li style="margin-bottom: 1rem;">
          <small>{{ partial "prettydate.html" . }} — {{ .Section | humanize | title}}</small><br>
          <a href="{{ .RelPermalink }}">{{ .Title }}</a><br>
          
        </li>
      {{ end }}
    </ul>
</section>
  