<!-- layouts/partials/subscribe-form.html -->
<h2 style="margin-bottom: 1rem">Subscribe for updates</h2>

<div id="mc_embed_signup">
    <form action="https://liamdouglas.us12.list-manage.com/subscribe/post?u=6ec1ecceec66e74cd5fe3eb4c&amp;id=5fdb7d346e&amp;f_id=0014b8e0f0"
          method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
          class="validate" target="_blank" novalidate>
      <div id="mc_embed_signup_scroll">
  
        <label for="mce-EMAIL">Email Address</label>
        <input type="email" name="EMAIL" id="mce-EMAIL" required>
  
        <label for="mce-FNAME">Name</label>
        <input type="text" name="FNAME" id="mce-FNAME" required>


        <div style="position:absolute; left:-5000px;" aria-hidden="true">
          <input type="text" name="b_6ec1ecceec66e74cd5fe3eb4c_5fdb7d346e" tabindex="-1" value="">
        </div>
  
        <fieldset>
          <legend>Topics you’d like to subscribe to:</legend>
          <label>
            <input type="checkbox"
                   value="Gaming"
                   name="group[50848][1]"
                   id="mce-group[50848]-50848-0">
            Gaming
          </label>
          <label>
            <input type="checkbox"
                   value="Music"
                   name="group[50848][2]"
                   id="mce-group[50848]-50848-1">
            Music
          </label>
          <label>
            <input type="checkbox"
                   value="Miscellaneous"
                   name="group[50848][4]"
                   id="mce-group[50848]-50848-2">
            Miscellaneous
          </label>
          <label>
            <input type="checkbox"
                   value="Sweet Synopsis"
                   name="group[12345][16]"
                   id="mce-group[50848]-50848-3">
            Sweet Synopsis
          </label>
        </fieldset>
  
        <div class="clear">
          <input type="submit" value="Subscribe" name="subscribe" class="button">
        </div>
      </div>
    </form>
  </div>
  
  <script src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script>
  <script>
    (function($){
      window.fnames = []; window.ftypes = [];
      fnames[0]='EMAIL'; ftypes[0]='email';
    })(jQuery);
    var $mcj = jQuery.noConflict(true);
  </script>